#header {
    background-color: pink;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

#hbuttons {
    float: right;
}

#entirepage {
    background-color: rgb(60, 126, 134);
}

.question {
    text-align: center;
}

#answers {
    text-align: center;
}